[*.{cs,vb}]

# IDE0003: 修飾子を削除
dotnet_diagnostic.IDE0003.severity = none

csharp_new_line_before_open_brace = never
csharp_new_line_before_else = false
csharp_new_line_before_catch = false
csharp_new_line_before_finally = false
csharp_new_line_before_members_in_object_initializers = false
csharp_new_line_before_members_in_anonymous_type = false
csharp_new_line_between_query_expression_clauses = false